/* Navigation   */

nav 
{
    width: 100%;
    height: 100px;
    background: #202021;
}

nav .mainPages 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .mainPages img {
    height: 35px;
}    

nav .mainPages li 
  {
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100px;
      text-decoration: none;
      color: #F4D35E;
      list-style-type: none;
  }

  nav .mainPages li a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: #F4D35E;
  }
 
nav a:hover 
{
    background: #5A5766
}

   /* Navigation */
@media screen and (min-width: 481px) {
  nav 
  {
      width: 100%;
      height: 150px;
      background: #202021;
  }
  
  nav .mainPages 
  {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  nav .mainPages img {
      margin-top: 25px;
      height: 100px;
      width: auto;
      margin-right:25vh;
  }    
  
  nav .mainPages li 
  {
      height: 50px;
      margin-top:50px;
      padding-right: 10vh;
      list-style-type: none;
  }

  nav .mainPages li a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: #F4D35E;
  }
  }
   
/*page contact*/

body {
  background-image: url(../img/table.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  margin:0px;
}

h1 {
  text-align: center;
  background-color: #f4d35e;
  margin: initial 23%;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  width: 50%;
  margin: 0 auto;
}

.modal {
  display: none;
}

.modal-content {
  display:flex;
  flex-direction: row-reverse;
  background-color: #F4D35E;
  border: 1px solid #202021; 
  text-align: center;
}

/*version desktop de contact*/

@media screen and (min-width: 481px) {
  h1 {
    font-size: 3rem;
    margin: 2% 30% 4% 30%;
  }

  .nom {
    grid-area: a;
  }

  .fname {
    grid-area: b;
  }

  .nbp {
    grid-area: c;
  }

  .date {
    grid-area: d;
  }

  .comment {
    grid-area: e;
    padding-bottom: 5vh;
  }

  .ok {
    grid-area: f;
  }

  .modal {
    grid-area: g;
  }

  .modal-content {
    font-size: 1.8rem;
  }

  input {
    padding: 20px;
    font-size: 1.8rem;
  }

  form {
    width: 40%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4.5em;
    grid-template-areas:
      "a a b b"
      "c c d d"
      "e e e e"
      ". f f ."
      ". g g .";
  }
}

/* footer */
.imgTitre {
  grid-area: g;
  padding: 3vh 3vh;
}

.adresse {
  grid-area: p;
  color:white;
  padding-left: 3vh;
}

.reseaux {
  grid-area: r;
  display: flex;
  flex-direction:column-reverse;
  justify-content: space-around;
  align-items:center;
  padding-right: 1vh;
}

.reseaux img {
  max-width: 7vh;
  max-height: 7vh;
  padding-top: 1em;
}

.imgs {
  display: flex;
  flex-direction: column;
  gap:0.3em;
}

footer{
  display: grid;
  grid-template-areas:"g r"
                      "p r";
  width: 100%;
  background-color: black;
  margin-top: 5vh;
  min-height : 35vh;
}

/*version desktop du footer*/

@media screen and (min-width: 481px) {

  .imgTitre {
    padding-top: 5vh;
    padding-left: 40vh;
    max-width: 35vh;
    max-height: 35vh;
  }

  .adresse {
    padding-left: 40vh;
  }

  .reseaux {
    color:white;
    font-size: 1.3rem;
    flex-direction: column;
  }

  .imgs {
    flex-direction: row-reverse;
    gap:1em;
  }
}