body {
  background-image: url(table.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  background-color: #f4d35e;
  margin: initial 23%;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  width: 50%;
  margin: 0 auto;
}

@media screen and (min-width: 481px) {
  h1 {
    font-size: 3rem;
    margin: 2% 30% 4% 30%;
  }

  .nom {
    grid-area: a;
  }

  .fname {
    grid-area: b;
  }

  .nbp {
    grid-area: c;
  }

  .date {
    grid-area: d;
  }

  .comment {
    grid-area: e;
    padding-bottom: 5vh;
  }

  .ok {
    grid-area: f;
  }

  input {
    padding: 20px;
    font-size: 1.8rem;
  }

  form {
    width: 40%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5em;
    grid-template-areas:
      "a a b b"
      "c c d d"
      "e e e e"
      ". f f .";
  }
}