@media screen and (max-width: 480px) {
/* index.html */
* {
    box-sizing: border-box;
    margin: 0 ;
}
body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}
/* header */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 210px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/banniere-header-mobile.png);
    z-index: 100;
}

    header h1 {
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
        font-weight: 900;
        font-size: 1.5rem;
        line-height: 38px;
        color: #FFFFFF;
    }

    header p {
        text-align: center;
        font-family: 'Prata';
        font-style: normal;
        font-size: 1.5rem;
        font-weight: 400;
        color:#F4D35E
    }

/* Menus */

.menus {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    height: 268px;
    background:#C2C2C2;

}

.icon-menu {
    background-image: url(img/grossomodo-menu-home.png);
    background-repeat: no-repeat;
    background-position: center;
}

.menus-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menus-right h2 {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 10px;
    margin-top: 30px;

}

.menus-right p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    padding-right :1rem;
}

.menus-right a {
    font-weight: 700;
    font-size: 1rem;
    line-height: 22px;
    color: black;
    padding-right: 1rem;
    text-decoration: none;
    text-align: right;
    margin-bottom: 30px;
}

.arrow {
    padding-left: 10px;
}

.menu-jour {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 380px;
    background: #F4F4F4;
    font-family: 'Prata';
}

.menu-jour h2 {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.5px;
    color: #000;
    padding-top: 40px;
}

.menu-jour p {
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 23px;
    color: #000;
}

.btn-reservation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 75px;
    background: #F4D35E;
    border: 1px solid #FFFFFF;
    border-radius: 45px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-text {
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    line-height: 28px;
    color: #000000;
}

.img-button-click
{
    padding-right: 20px;
}

/* valeurs */

.valeurs {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    height: 230px;
    background: #DA825D;
}

.valeurs-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.valeurs-left h2 {
    margin-top:30px;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 10px;
}

.valeurs-left p {
    margin-top: 30px;
    padding-left: 10px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    padding-right :15px;
}

.valeurs-left a {
    margin-top: 20px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 22px;
    color: black;
    padding-right: 1rem;
    text-decoration: none;
    text-align: right;
    margin-bottom: 30px;
}

.icon-valeurs {
    background-image: url(img/valeurs.svg);
    background-repeat: no-repeat;
    background-position: center;
}

}

@media  screen and (min-width: 481px) {

    * {
        box-sizing: border-box;
        margin: 0;
    }

    body {
        background-color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
    }
    /* header */
    
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 558px;
        background: url(img/banner-site-restaurant.png);
        z-index: 100;
    }
    
        header h1 {
            text-align: left;
            font-weight: 900;
            font-size: 3.75rem;
            line-height: 4.5rem;
            color: #FFFFFF;
            padding-left: 50px;
        }
    
        header p {
            text-align: left;
            font-family: 'Prata';
            font-style: normal;
            font-size: 2.25rem;
            font-weight: 400;
            color:#F4D35E;
            padding-left: 50px;
            margin-top: 30px;
        }
    
    /* Menus */
    
    .menus {
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: 100%;
        height: 336px;
        padding-left: 20%;
        padding-right:20%;
        border-bottom: solid #000 1px;
    
    }
    
    .icon-menu {
        width: 100%;
        background-image: url(img/grossomodo-menu-home.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .menus-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;
    }
    
    .menus-right h2 {
        font-weight: 700;
        font-size: 2rem;
        line-height: 37.5px;
    }
    
    .menus-right p {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: justify;
        margin-top: 20px;

    }
    
    .menus-right a {
        font-weight: 400;
        font-size: 1rem;
        line-height: 22px;
        color: black;
        text-align: right;
        margin-top: 20px;
    }
    
    .arrow {
        margin-left:10px;
    }
    
/* menu du jour */

    .menu-jour {
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 475px;
        background: #616161;
        background-repeat: no-repeat;
        font-family: 'Prata';
    }
    
    .menu-jour h2 {
        text-align: center;
        font-weight: 700;
        font-size: 2rem;
        line-height: 1.5px;
        color: #FFF;
        padding-top: 50px;
    }
    
    .menu-jour p {
        padding-top: 50px;
        text-align: center;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 23px;
        color: #FFF;
    }
    
    .btn-reservation {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 380px;
        height: 75px;
        background: #FFF;
        border: 5px solid #F4D35E;
        border-radius: 45px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    
    .btn-text {
        font-weight: 600;
        font-size: 24px;
        text-align: center;
        line-height: 28px;
        color: #F4D35E;
    }
    
    .img-button-click
    {
        padding-right: 20px;
    }
    
    /* valeurs */
    
    .valeurs {
        display: grid;
        grid-template-columns: 2fr 1fr;
        width: 100%;
        height: 400px;
        padding-left: 20%;
        padding-right:20%;
    }
    
    .valeurs-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .valeurs-left h2 {
        font-weight: 700;
        font-size: 2rem;
        line-height: 37.5px;
    }
    
    .valeurs-left p {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: justify;
        margin-top: 20px;
    }
    
    .valeurs-left a {
        font-weight: 400;
        font-size: 1rem;
        line-height: 22px;
        color: black;
        text-align: right;
        margin-top: 20px;
    }
    
    .icon-valeurs {
        margin-left: 2rem;
        background-image: url(img/valeurs-home-img.png);
        background-repeat: no-repeat;
        background-position: center;
    }
}