* {
    box-sizing: border-box;
        margin: 0;
}

body {
        background-color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
    }

/* Navigation */

nav 
{
    width: 100%;
    height: 150px;
    background: #202021;
}

nav .mainPages 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .mainPages img {
    margin-top: 25px;
    height: 100px;
    width: auto;
    margin-right:25vh;
}    

nav .mainPages a 
{
    height: 50px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: #F4D35E;
    margin-top:50px;
    padding-right: 10vh;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 558px;
    background-image: url(img/banner-site-restaurant.PNG);
    z-index: 100;
}

header h1 {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    font-weight: 900;
    font-size: 4rem;
    line-height: 38px;
    color: #FFFFFF;
}

header p {
    text-align: center;
    font-family: 'Prata';
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 400;
    color:#F4D35E
}

/* Content */


.flex-container {
    flex-direction: column;
    text-decoration: underline;
}

.produits-bio {

    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
    margin-right: 15rem;
    text-align: justify;

}

.produits-bio img {
    width: 450px;
    height: 100%;
}

.produits-bio #description-valeurs {
    font-size: 1rem;
    font-weight: 400;
    padding-left: 2rem;
}

#leschefs1 {
    margin-top: 40px;
    width: 100%;
    height: auto;
    background-color: #F4D35E;
}

#chefs-descriptions {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
}

#leschefs1 #partie-chefs {
    padding-top: 40px;
    font-size: 3rem;
    text-align: center;
    height: 60px;
}

#bio-chef1 {
    padding-top: 40px;
    margin-left: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bio-chef-description {
    padding-left: 40px;
    padding-right: 15rem;
}

#prenom {
    font-size: 2rem;
    font-weight: 700;
}

#fonction {
    padding-top: 10px;
    font-size: 1.5rem;
    font-weight: 400;
}

#bio {
    padding-top: 20px;
    text-align: justify;
}

#bio-chef2 {
    padding-top: 40px;
    margin-left: 20rem;
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

#leschefs1 img {
    width: 300px;
    height: 100%;
}

  /* Footer */

  .imgTitre {
    grid-area: g;
    width: 50vh;
    margin-top: 5.2vh;
    margin-left:26vh;
  }
  
  .adresse {
    grid-area: p;
    color:white;
    padding-left: 200px;
    padding-top: 40px;
  }
  
  .reseaux {
    padding-top: 200px;
    grid-area: r;
  }
  
  .imgs {
    padding-top: 4vh;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 80px;
    gap:1em;
  }
  
  footer{
    display: grid;
    grid-template-areas:"g r"
                        "p r";
    width: 100%;
    background-color: black;
    margin-top: 0;
    height : 55vh;
  }

  footer h3 {
    font-family: 'Open-sans', sans-serif;
    font-weight: 400;
    color:#fff;
  }


@media screen and (max-width: 481px) {

 * {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

/* Navigation   */

nav 
{
    width: 100%;
    height: 100px;
    background: #202021;
}

nav .mainPages 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .mainPages img {
    height: 35px;
    margin: 0;
}    

nav .mainPages a 
{
    font-size: 1rem;
    margin: 0;
    padding-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    text-decoration: none;
    color: #F4D35E;
}
 
nav a:hover 
{
    background: #5A5766
}

/* header */
    
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 210px;
    background: url(img/banniere-header-mobile.png);
    z-index: 100;
}
    
header h1 {
    text-align: center;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #FFFFFF;
    padding-left: 50px;
}
    
header p {
    text-align: left;
    font-family: 'Prata';
    font-style: normal;
    font-size: 2.25rem;
    font-weight: 400;
    color:#F4D35E;
    padding-left: 50px;
    margin-top: 30px;
}

/* Content */

.produits-bio {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin-left: 0;
    margin-right: 0;
    width: 100%;

}

.produits-bio img {
    padding-top:2rem;
    width: 200px;
    height: 100%;
}

.produits-bio #description-valeurs {
    font-size: 1rem;
    font-weight: 400;
    padding-top: 2rem;
    padding-left: 2vh;
    padding-right: 2vh;
}

/* Chefs description */

#leschefs1 {
    margin-top: 40px;
    width: 100%;
    height: 1200px;
    background-color: #F4D35E;
}

#chefs-descriptions {
    display: flex;
    flex-direction: column;
    padding-right: 0;
}

#leschefs1 #partie-chefs {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 3rem;
}

#bio-chef1 {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    margin-left: 0;
}

#bio-chef-description {
    padding-right: 0;
    padding-left: 0;
}

#prenom {
    padding-top: 20px;
    font-size: 2rem;
    font-weight: 700;
    padding-left: 2vh;
}

#fonction {
    padding-top: 10px;
    font-size: 1.5rem;
    font-weight: 400;
    padding-left: 2vh;
}

#bio {
    padding-top: 20px;
    text-align: justify;
    padding-left: 2vh;
    padding-right: 2vh;
}

#bio-chef2 {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin:0;
}

#leschefs1 img {
    height: 50%;
}

/* footer */
.imgTitre {
    grid-area: g;
    width: 30vh;
    margin-top: 2vh;
    margin-left: 3vh;
  }
  
  .adresse {
    grid-area: p;
    color:white;
    padding-top: 4vh;
    padding-left: 3vh;
  }
  
  .reseaux {
    grid-area: r;
    padding-right: 20px;
  }
  
  .imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap:1em;
  }

  footer h3 {
    font-size: 16px;
    color: #FFF;
  }
  footer img {
    height: 100%;
    width: 50px;
  }
  
  footer{
    display: grid;
    grid-template-areas:"g r"
                        "p r";
    width: 100%;
    background-color: black;
    min-height : 30vh;
  }
}